<h1>Login Here</h1>

<%= form_tag sessions_path do %>
<div class="main-log-in">
  <div>
    <p><%= label_tag :username %></p>
    <p><%= text_field_tag :username, params[:username] %></p>
  </div>
  <div>
    <p><%= label_tag :password %></p>
    <p><%= password_field_tag :password %></p>
  </div>
  <div class="user-form-button"><%= submit_tag "Log in" %></div>
</div>

<p class="wrong-place">Not a User? <%= link_to "Sign up here", new_session_path %></p>

<% end %>
