<div class="replies">
  <% post.replies.each do | reply | %>
    <p><%= reply.reply %> (-<%= reply.user.username %>)</p>

    <%= form_tag post_replies_path(post.id) do %>
      <% if reply.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(reply.errors.count, "error") %> prohibited this reply from being saved:</h2>
          <ul>
          <% reply.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
      <% end %>
      <%= render 'replies/new_reply_form', post: post %>

    <% end %>

  <% end %>
</div>
