<h1>Sign Up</h1>

<%= form_for @user, url: {action: "create"}  do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="main-log-in">
    <p><label>username</label></p>
    <p><%= f.text_field :username %></p>
    <p><label>password</label></p>
    <p><%= f.password_field :password %></p>
    <p><label>password confirmation</label></p>
    <p><%= f.password_field :password_confirmation %></p>
    <p><input type="submit" value="Sign Up"></p>
  </div>

  <p class="wrong-place">Already a user? <%= link_to "Login here", new_session_path %></p>

<% end %>
