<h1>Welcome</h1>
<%= render 'posts/new_post_form', post: @post %>
<% @posts.each do | post | %>
<%= link_to 'View Post', post_path(post.id) %>
  <p><%= post.text %> (<%= post.city %>)</p>
  <%= render 'replies/display_replies', post: post %>
<% end %>
