<h1>Hello World!</h1>

<%= form_for @post, url: {controller: "posts", action: "create"}, :html=> {id: 'submit-post'} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <label>What do you have to say?</label><br />
    <%= f.text_area :text %>
  </div>
  <div>
    <input type="submit" value="Done">
  </div>
<% end %>

<div id="all-posts">
  <% @posts.each do |post| %>
    <div>
      <p> <%= post.text %> </p>
    </div>
  <% end %>
</div>
