<!DOCTYPE html>
<html>
  <head>
    <title>LoyaltyoneHelloWorld</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <% if current_user %>
      <%= link_to "Logout", session_path(current_user), method: :delete %>
      <%= link_to "My posts", user_path %>
      <%= link_to "all posts", posts_path %>
    <% else %>
      <%= link_to "Login", new_session_path %> | <%= link_to 'Sign Up', new_user_path %>
    <% end %>

  </header>
  <body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <%= yield %>
    <script src="https://maps.googleapis.com/maps/api/js?&libraries=places&language=en"></script>
  </body>
</html>
